<div ng-cloak ng-init="vm.getDashboardData()">
    <!-- Banner Start Here -->
    <section>
        <div class="clearfix">
            <div>
                <div uib-carousel template-url="app/dashboard/views/carousel.tpl.html" active="active" interval="myInterval" no-wrap="noWrapSlides">
                    <div uib-slide ng-repeat="slide in slides  | filter : filterFn" index="slide.id">
                        <img ng-src="{{slide.image}}" class="img-responsive">
                        <!--<div class="carousel-caption">
                        <h4>Slide {{slide.id}}</h4>
                        <p>{{slide.text}}</p>
                    </div>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner End Here -->
    <div class="clearfix"></div>
    <!-- Guarantee Start Here -->
    <section>
        <div class="container">
            <div class="guarantee-bar">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                        <i class="fa fa-truck mar-rt-10"></i>
                        <div class="text-area">
                            <h3>FREE SHIPPING & RETURN</h3>
                            <p>Free shipping on all orders over <i class="fa fa-rupee fnt-14"></i>99.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                        <i class="fa fa-rupee mar-rt-10"></i>
                        <div class="text-area">
                            <h3>MONEY BACK GUARANTEE</h3>
                            <p>100% money back guarantee.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                        <i class="fa fa-life-ring mar-rt-10"></i>
                        <div class="text-area">
                            <h3>ONLINE SUPPORT 24/7</h3>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Guarantee End Here -->
    <div class="clearfix"></div>
    <!-- BROWSE OUR CATEGORIES Start Here-->
    <section ng-if="vm.dashboardData.productCategories.length>0">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h3 class="our-categories">BROWSE OUR CATEGORIES</h3>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-sm-12" ng-repeat="row in vm.dashboardData.productCategories">
                            <div class="categories-list">
                                <div class="categories-img">
                                    <img ng-src="{{row.imageURL}}" class="img-responsive">
                                </div>
                                <div class="list-heading clearfix">
                                    <h4 class="pull-left" ng-bind="row.name"></h4>
                                    <a ui-sref="products.listproducts({categoryId : row._id, categoryName : row.name})" class="btn btn-yellow pull-right">View All</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //containier -->
    </section>
    <!-- BROWSE OUR CATEGORIES End Here-->
    <div class="clearfix"></div>
    <!-- Offer Zone Start Here -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="banner image-hover-scale">
                        <a href="">
                            <img class="img-responsive" src="images/offer1.jpg">
                        </a>
                    </div>
                    <!-- Offer-1 -->
                </div>
                <!-- banner -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="banner image-hover-scale">
                        <a href="">
                            <img class="img-responsive" src="images/fruits-offer.jpg">
                        </a>
                    </div>
                    <!-- Offer-2 -->
                </div>
                <!-- banner -->
            </div>
            <!-- //row-1 -->
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="banner image-hover-scale">
                        <a href="">
                            <img class="img-responsive" src="images/dairy-offer.jpg">
                        </a>
                    </div>
                    <!-- Offer-1 -->
                </div>
                <!-- row-2 Offer-1 -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="banner image-hover-scale">
                        <a href="">
                            <img class="img-responsive" src="images/food-offer.jpg">
                        </a>
                    </div>
                    <!-- Offer-2 -->
                    <div class="banner image-hover-scale">
                        <a href="">
                            <img class="img-responsive" src="images/offer2.jpg">
                        </a>
                    </div>
                    <!-- Offer-3 -->
                </div>
                <!-- banner -->
            </div>
            <!-- //row-2 -->
        </div>
        <!-- //container -->
    </section>
    <!-- Offer Zone End Here -->
    <div class="clearfix"></div>
    <!-- Featured Products Start Here-->
    <section ng-if="vm.dashboardData.featuredProducts.length>0">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h3 class="our-categories">Featured Products</h3>
                     <ui-carousel slides="vm.dashboardData.featuredProducts" slides-to-show="4" slides-to-scroll="3" 
                        initial-slide="1" autoplay="false" dots="false">
                        <carousel-item>
                           <div class="product-list" ui-sref="products.productDetails({productId:item._id})">
                                <div class="product-img">
                                    <img ng-src="{{item.images}}">
                                </div>                                
                                <div class="details-area">
                                    <h4 class="product-name" ng-bind="item.name"></h4>
                                    <div class="ratings clearfix">
                                      <span uib-rating ng-model="vm.rating" max="5" read-only="true"></span>
                                    </div>                                    
                                    <div class="product-quantity mar-bt-10">
                                        Quantity: <span ng-bind="'1' + item.defaultMeasureUnit"></span>
                                    </div>                                    
                                    <div class="price-box">
                                        <span class="old-price" ng-bind="item.userPrice   | currency : '&#8377;'"></span>
                                        <span class="special-price" ng-bind="(item.userPrice - item.userPrice * item.discount /100)  | currency : '&#8377;'"></span>
                                        <span class="discount-off pull-right" ng-bind="(item.discount| percent) + ' OFF'"></span>
                                    </div>                                    
                                    <div class="buttons-list">
                                        <button class="btn btn-yellow buttons" ng-click="vm.AddToCart(item)"><i class="fa fa-shopping-cart pad-right-10"></i>Add to Cart</button>
                                        <a title="Add to Wishlist" class="wishlist pull-right" ng-click="vm.ToggleWishlist(item)"> <i class="fa fa-heart" ng-class="userData.favourites.indexOf(item._id)>-1 ? 'activeWishlist': ''"></i></a>
                                    </div>                                    
                                </div>
                            </div>     
                        </carousel-item>
                    </ui-carousel>                  
                </div>
            </div>
        </div>
        <!-- //containier -->
    </section>
    <!-- Featured Products End Here-->
    <div class="clearfix"></div>
    <!-- Just Arrived Start Here-->
    <section ng-if="vm.dashboardData.latestProducts.length>0">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h3 class="our-categories">Just Arrived</h3>
                    <ui-carousel slides="vm.dashboardData.latestProducts" slides-to-show="5" slides-to-scroll="4" 
                        initial-slide="1" autoplay="false" dots="false">
                        <carousel-item class="col-md-3 col-sm-6 col-sm-12">
                            <div class="product-list" ui-sref="products.productDetails({productId:item._id})">
                                <div class="product-img">
                                    <img ng-src="{{item.images}}">
                                </div>
                                <div class="details-area text-center">
                                    <h4 class="product-name" ng-bind="item.name"></h4>
                                    <div class="product-quantity mar-bt-5">
                                        <span class="mar-lt-5" ng-bind="'Flat '+(item.discount | percent)+ ' OFF'"></Span>
                                    </div>
                                    <div class="price-box">
                                        <span class="old-price" style="text-decoration:none;">Now at</span>
                                        <span class="special-price" ng-bind="item.userPrice | currency : '&#8377;'"></span>
                                    </div>
                                </div>
                            </div>
                        </carousel-item>
                    </ui-carousel>                 
                </div>
            </div>
        </div>
        <!-- //containier -->
    </section>
    <!-- Just Arrived End Here-->
    <div class="clearfix"></div>
    <!-- Testimonials Start Here-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h3 class="our-categories">What Client's Say</h3>
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-sm-12 mar-bt-15">
                            <div class="testimonials-image">
                                <img src="images/client.jpg" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-12 mar-bt-20">
                            <span class="text-justify"><i class="fa fa-quote-left mar-rt-10"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Cras non placerat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non placerat mi…Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non placerat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non placerat mi  Cras non placerat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.<i class="fa fa-quote-right mar-lt-10"></i></span>
                            <h4>John Smith</h4>
                            <h5 class="grey">Ceo, Pay Wallet.</h5>
                        </div>
                    </div>
                    <!-- //row -->
                </div>
            </div>
        </div>
        <!-- //containier -->
    </section>
    <!-- Testimonials End Here-->
    </div>