<!-- Header Start Here -->
<header >
	<div class="row">
        <div class="col-sm-4 text-center">
            <img class="logo" src="images/logo.png"> 
        </div>
        <div class="col-sm-8 text-center headnav">
            <ul class="list-inline">
                <li><a ui-sref="dashboard">Home</a></li>
                <li><a ui-sref="vision">Our Vision</a></li>
                <li><a href="#">Learning Path</a></li>
                <li><a ui-href="#">Contact Us</a></li>
            </ul>
        </div>
    </div>
</header>