body{
	margin:0px;
    padding:0px;
    overflow-x: hidden;
    font-family: sans-serif;
    color: white;
    background: 
    linear-gradient(
      hsl(200, 50%, 80%) 0%, 
      hsl(200, 30%, 95%) 75%);
}
 .logo{
     width: 250px;
     height : 100px;
 }
 .font-black{
     color: black;
 }
canvas {
   
    display: block;
}
  
div.main {
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    /* margin-left: 2em; */
}

.headnav ul{
    margin-top : 1.6em;
}
.headnav li{
    padding-left: 2em;
    font-size: 1.5em;
}
li a.active{
    border-bottom: 2px solid #1f5992;
    padding-bottom: 4px;
}
a, a:hover, a:visited,a:link{
    color :#320202;;
    text-decoration: none;
}
a:hover{
    border-bottom: 2px solid white;
    padding-bottom: 4px;
}

.main-head{
    text-align: center;
    margin : 3.5em 3.5em 0 3.5em;
    font-size: 2.2em;
    text-shadow: 1px 1px 3px #333;
    color: rgba(58, 69, 74, 0.96);  
}


.main-hr{
    height: 1px;
    width: 30%;
    background: black;
    box-shadow: 2px 2px 9px 0px #4b8c8c;
    color: black;
}

.main-sub{
    text-shadow: 0 0 16px black;
}

/* CSS talk bubble */
.talk-bubble {
	/* margin: 40px; */
  display: inline-block;
  position: relative;
	/* width: 70em;
	min-height: 10em; */
    background-color: lightyellow;
    border-bottom-right-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
    border-top-right-radius: 1em;
    box-shadow: 3px 4px 4px 1px #b5d6e6;
}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: lightyellow transparent transparent transparent;
}

/* talk bubble contents */
.talktext{
  padding: 2em;
    /* text-align: left; */
  line-height: 1.5em;
  color: black;
}
/* End CSS talk bubble */

.vision-container{
    margin : 5em !important;
}

.circle-multiline {
    display: table-cell;
    height: 10em;
    width: 10em;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background: #6b6b6b;
    color: white;
    cursor: pointer;
}
.circle-multiline:hover{
    background: black;
}
.circle-multiline span{
    font-size: 21px;
}
.marginTopLR{
    margin-top: 2em;
    margin-left: 0em;
}
.marginLeftLR{
    margin-left: 3em;
}
.left-bubble{
    margin-left: 2em;
}
.learning-bubble{

    display: inline-block;
    position: relative;
      background-color: lightyellow;
      border-radius: 1.5em;
      box-shadow: 3px 4px 4px 1px #b5d6e6;
}
.bubble-desc{
    font-size: 1.2em;
}
.learning-block{
    margin:5em 5em 0 5em;
    display: inline-block;
    position: relative;
      background-color: lightyellow;
      box-shadow: 3px 4px 4px 1px #b5d6e6;
}
.backToTop{
    cursor: pointer;
    font-size: 400;
}
#contact_us_form{
    margin: 20px;
}
.ct-form label{
    color : black;
}

.dev{
    text-shadow: 0 0 7px #404040;
    color: #2b0a0a;
}